* {
    padding: 0;
    margin: 0;
}
body {
    font-family: helvetica;
    line-height: 1.6em;
    color: darkgray;
    background-color: #e1e1e1;
    background-image: url(../img/creampaper.png);
    font-size: 14px;
}
a {
    color: #333;
    text-decoration: none;
}
#container {
    width: 740px;
    background-color: white;
    margin: auto;
}
.clearfix {
    clear: both;
}
header {
    padding: 30px 20px;
    background-color: #f4f4f4;
}
header h1 {
    color: black;
    margin-bottom: 5px;
}
section {
    padding: 30px 20px 20px 20px;
}
footer {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}
