body {
    background-color: darkorange;
    color: white;
    font-family: helvetica;
    font-size: 1em;
}
#container {
    width: 60%;
    background-color: deepskyblue;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
}
header {
    text-align: center;
    border-bottom: 1px dashed white;
}
header h1 {
    margin: 0;
    padding: 0;
}
section {
    min-height: 400px;
}
footer {
    text-align: center;
}
#submitButton {
    background-color: darkorange;
    border: 0;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}
#results {
    text-align: center;
}
#results h3 {
    background: #f06226;
    padding: 10px;
    margin: 10px 0;
}
#results span {
    color: #000;
    font-weight: bold;
}
